<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="node.exe" arguments=".\dist\main.js" stdoutLogEnabled="true" stdoutLogFile=".\logs\node.log">
      <environmentVariables>
        <environmentVariable name="PORT" value="3301" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>