<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      
      <remove fileExtension=".uper" />
      <mimeMap fileExtension=".uper" mimeType="application/octet-stream" />
      
      <remove fileExtension=".bin" />
      <mimeMap fileExtension=".bin" mimeType="application/octet-stream" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Proxy to Nest" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:3301/api/{R:1}" />
        </rule>
        <rule name="Vue SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>